* { box-sizing: border-box; }
body {margin: 0;}
#i02r{color:#fa0000;font-size:30px;font-weight:900;padding:10px;text-align:center;}
#i0k3{font-family:Helvetica, sans-serif;}
#iiwwt{background-color:#ffffff;color:#792798;font-family:Verdana, Geneva, sans-serif;font-weight:900;margin:0px 0px 0px 10%;padding:10px;text-align:center;width:80%;}
#ica8z{color:#ffa500;font-family:Helvetica, sans-serif;font-size:30px;font-weight:900;padding:10px;text-align:center;}
#ijeo{background-color:#000000;}
#i6uwnk{font-size:44px;font-weight:900;text-align:center;}
#iu14g-2{color:rgba(134,211,9,0.97);}
#iiwwt-2{background-color:#ffffff;color:#792798;font-family:Verdana, Geneva, sans-serif;font-weight:900;margin:0px 0px 0px 10%;padding:10px;text-align:left;width:80%;}
#iiwwt-3{background-color:#000000;color:#792798;font-family:Verdana, Geneva, sans-serif;font-weight:900;margin:0px 0px 0px 10%;padding:10px;text-align:center;width:80%;}
#iiwwt-2-2{background-color:#ffffff;color:#792798;font-family:Verdana, Geneva, sans-serif;font-weight:900;margin:0px 0px 0px 10%;padding:10px;text-align:center;width:80%;}
#iiwwt-3-2{background-color:#000000;color:#792798;font-family:Verdana, Geneva, sans-serif;font-weight:900;margin:0px 0px 0px 10%;padding:10px;text-align:center;width:80%;}
#iiwwt-4-2{background-color:#262626;color:#000000;font-family:Verdana, Geneva, sans-serif;font-weight:900;margin:0px 0px 0px 10%;padding:10px;text-align:center;width:80%;}
#imvy8{text-align:center;}
#i6uwnk-3-4-3{font-size:44px;font-weight:900;text-align:center;}
#iiwwt-5-4-3{background-color:#ffffff;color:#792798;font-family:Verdana, Geneva, sans-serif;font-weight:900;margin:0px 0px 0px 10%;padding:10px;text-align:center;width:80%;}
#iivfsj{color:rgb(255, 85, 246);}
#i8gb8e{color:rgb(255, 85, 246);}
#iv9mu6{color:rgb(255, 85, 246);}
#icuxgl{color:rgb(255, 85, 246);}
#ip8yji{color:rgb(255, 85, 246);}
#ir54rf{color:rgb(255, 85, 246);}
#ikyg7l{color:rgb(255, 85, 246);}
#ixayna{color:rgb(22, 222, 243);}